<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Zipcode Data: {{zipcode}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="6" rowHeight="1:1" gutterSize="10px">
      <mat-grid-tile *ngFor="let agi of agiData">
        <mat-card class="agi-card">
          <mat-card-header>
            <mat-card-title>
              <h3>{{ convertAgiSizeToLabel(agiData.at(0).zip) }}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-title><p>Number of Individuals: {{ agi.numberOfIndividuals }}</p></mat-card-title>
            <mat-card-title><p>
              Adjusted Gross Income: {{ agi.adjustedGrossIncome * 1000 | currency }}
            </p></mat-card-title>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="6">
        <mat-card class="agi-card">
          <mat-card-header>
            <mat-card-title>
              <h3>Totals</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-title><p>Total Number of Individuals: {{ totalIndividuals }}</p></mat-card-title>
            <mat-card-title><p>Total Adjusted Gross Income: {{ totalIncome | currency }}</p></mat-card-title>
            <mat-card-title><p>Average Adjusted Gross Income: {{ averageIncome | currency }}</p></mat-card-title>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <app-reusable-chart
      [chartData]="{ datasets: chartData }"
      [chartLabels]="chartLabels"
      [chartType]="'bar'"
    >
    </app-reusable-chart>
  </mat-card-content>
</mat-card>
